/* Réinitialisation des marges et des rembourrages pour le corps et le conteneur */
body,
html {
    margin: 0;
    padding: 0;
    background-image: url('/assets/homepage-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Si vous souhaitez que l'image reste fixe pendant le défilement */
    background-position: center;
    /* Centrez l'image de fond */
}