<!DOCTYPE html>
<html>

<head>
    <title>BoXXle en JavaScript</title>
    <link rel="stylesheet" href="popup.css">
    <style>
        body {
            margin: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        canvas {
            border: 1px solid black;
        }
    </style>
</head>

<body style="background-color:red;">
    <canvas id="gameCanvas" width="800" height="500"></canvas>

        <!-- Ajoutez des liens pour les autres boîtes ici -->
    </div>
    <script src="/script/carte.js"></script>

</body>

</html>