<!DOCTYPE html>
<html>

<head>
    <title>Ymusic</title>
    <link rel="stylesheet" href="popup.css">
    <!-- <link rel="stylesheet" type="text/css" href="/style/game.css"> -->
    <link rel="stylesheet" type="text/css" href="/style/carte.css">
    <link rel="shortcut icon" href="/images/logo-webv.png" type="image/x-icon">
</head>

<body>
    <div class="main">
        <div class="top-page-game">
            <a href="/">
                <img src="/images/logo-Ymusic.png" alt="logo" class="ymusic">
            </a>
            <div class="container-life">
                <div class="life">
                    L I F E &nbsp;
                </div>
                <div class="vinyle-life">
                    <!-- <div id="currentLife">5</div> -->

                    <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle1">&nbsp;
                    <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle2">&nbsp;
                    <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle3">&nbsp;
                    <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle4">&nbsp;
                    <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle5">
                </div>
            </div>
            <a class="settings-button" onclick="location.href='#popup-settings';">
                <div class="settings-container">
                    <img src="/images/settings.png" class="reduce-settings">
                </div>
            </a>

        </div>
    </div>
    <div class="game-board">
        <canvas id="gameCanvas" width="800" height="500"></canvas>
    </div>
    </div>
    <!----------------------------------P O P U P  S E T T I N G S-------------------------------------->
    <div class="overlay" id="popup-settings">
        <div class="popup">
            <div class="title-settings">
                Settings
            </div>
            <div class="container-popup-settings">
                <div class="left-part-settings">
                    <a href="#" class="cross">&times;</a>
                    <strong>Controls : </strong> <br>
                    <div id="Forwards">
                        <p>Walk Forwards : ArrowUp</p><button>Change</button>
                    </div>
                    <div id="Backwards">
                        <p>Walk Backwards : ArrowDown</p><button>Change</button>
                    </div>
                    <div id="Right">
                        <p>Walk Right : ArrowRight</p><button>Change</button>
                    </div>
                    <div id="Left">
                        <p>Walk Left : ArrowLeft</p><button>Change</button>
                    </div>
                </div>
                <div class="right-part-settings">
                    <strong>Character :</strong>
                    <div class="avatar-box">
                        <img src="/images/character.png" alt="Avatar" class="avatar">
                        <br>
                        <button onclick="changeAvatar()">Modify</button>
                        <br>
                        <br>
                        <button>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------E N D  P O P U P  S E T T I N G S-------------------------------------->
    </div>
    <!---->
    <script src="/script/carte.js"></script>
    <script src="/script/controls.js"></script>
</body>

</html>