<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo-webv.png" type="image/x-icon">
    <link rel="stylesheet" href="style\style_credits.css">
    <title>YMusic - Crédits</title>
</head>

<body>
    <div class="container">
        <div class="logo-container">
            <a href="/">
                <img src="/images/ymusic-logo-blanc.png" alt="logo" onclick="location.href='/template/index.html'">
            </a>
        </div>
        <div class="title-container">
            <h1 class="light">Crédits</h1>
        </div>
        <div class="text-container">
            <p>We're French !<br>
                <br>Nous sommes le groupe 15 du Hackathon 2023 de Lyon Ynov Campus. <br>
                Voilà notre équipe !
            </p>
        </div>

        <div class="card-container">

            <div class="card-container-1">
                <div class="box1">
                    <p>Ali <br>
                        Bachelor 3 Informatique
                    </p>
                    <img src="/images/ali.png" alt="">
                </div>
                <div class="box2">
                    <p>Emma<br>
                        Bachelor 2 Informatique</p>
                    <img src="/images/emma.png" alt="">
                </div>
                <div class="box3">
                    <p>Baptiste<br>
                        Bachelor 3 Informatique</p>
                    <img src="/images/baptiste.png" alt="">
                </div>
            </div>

            <div class="card-container-2">
                <div class="box4">
                    <p>Mike<br>
                        Bachelor 2 Informatique</p>
                    <img src="/images/mike.png" alt="">
                </div>
                <div class="box5">
                    <p>Thanhmy<br>
                        Bachelor 3 Informatique</p>
                    <img src="/images/thanhmy.png" alt="">
                </div>
                <div class="box6">
                    <p>Rony<br>
                        Bachelor 2 Informatique</p>
                    <img src="/images/rony.png" alt="">
                </div>
            </div>
        </div>
        <a href="/template/index.html" class="btn2">Retour à l'accueil</a>
    </div>
</body>

</html>