<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/popup-winner.css">
    <title>Document</title>
</head>
<body>
    <div class="popup-container">
        <div class="popup">
            <a href="#" class="cross">&times;</a>
            <p id="sizeUp">
                W I N N E R !!!<br>
            </p>
            <p>
                please click on the controller to continue.
            </p>
            <div class="img-container">
                <img src="/images/controller-win.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>
