<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/game.css">
    <title>Ymusic</title>
</head>

<body>
    <div class="main">
        <!--------------------------------------------------------- T O P -------------------------------------------------->
        <div class="top-page-game">
            <img src="/images/logo-Ymusic.png" alt="logo" class="ymusic">
            <div class="container-life">
                <div class="life">
                    L I F E &nbsp;
                </div>
                    <div class="vinyle-life">
                        <!-- <div id="currentLife">5</div> -->

                        <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle1">&nbsp;
                        <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle2">&nbsp;
                        <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle3">&nbsp;
                        <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle4">&nbsp;
                        <img src="/images/vinyle-life.png" alt="vinyle" class="vinyle" id="vinyle5">
                    </div>
            </div>
        </div>
        <br>
        <div class="advice">
            &nbsp; &nbsp; advice : put on the sound ! &nbsp; <img src="/images/sound.png" alt="sound" class="sound">
        </div>
        <br>
        <br>
        <br>
        <br>
        <!--------------------------------------------------------- E N D - T O P -------------------------------------------------->

        <!--------------------------------------------------------- M I D D L E -------------------------------------------------->
        <div class="middle-page-game">
            <div class="character">
                <img src="/images/character.png" alt="character" class="character-image">&nbsp; &nbsp; &nbsp;
            </div>
            <div class="all-the-game">
                <button id="playRandomRap">PLAY SONG</button>
                <div class="instructions-guessing">
                    Try to guess the title
                </div>
                <br>
                <div class="attempts-left" id="lives">
                    You have &nbsp;<span id="currentLife">5</span>&nbsp; attempts left
                </div>
                <br>
                <div id="currentSongTitle"></div>
                <br>
                <div class="input-guessing">
                    <input type="text" id="userInput" placeholder="Let's guessing ! ">&nbsp;
                    <!-- <img src="/public/images/vinyl.png" class="vinyle-guessing"> -->
                    <button id="userInputcheck">submit</button>
                </div>
            </div>
            <br>
        </div> 
        <br>
        <br>
        <!--------------------------------------------------------- E N D - M I D D L E -------------------------------------------------->

        <!--------------------------------------------------------- B O T T O M -------------------------------------------------->
        <div id="letters-guessed">
            &nbsp; &nbsp; Tested letters : &nbsp;<span id="testedLetters"></span>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <div class="bottom-page-game">
            <div class="left-part">
                <a href="/carte">
                &nbsp; &nbsp; <img src="/images/return.png" alt="return" class="return">
                &nbsp; Go back to the menu</a>
            </div>
            <div class="right-part">
                <img src="/images/jukebox.png" alt="jukebox" class="jukebox">
            </div>
        </div>
        <!--------------------------------------------------------- E N D - B O T T O M -------------------------------------------------->
    </div>
    <!-- <script src="/public/script/game.js"></script> -->
    <script src="/script/rock.js"></script>

</body>

</html>